<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Order details</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="order">Order id *</label>
                                    <v-select
                                            name="order"
                                            label="order_number"
                                            @input="updateOrder"
                                            :value="item.order"
                                            :options="ordersAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="product">Product Id *</label>
                                    <v-select
                                            name="product"
                                            label="name"
                                            @input="updateProduct"
                                            :value="item.product"
                                            :options="productsAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('OrderDetailsSingle', ['item', 'loading', 'ordersAll', 'productsAll'])
    },
    created() {
        this.fetchOrdersAll(),
        this.fetchProductsAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('OrderDetailsSingle', ['storeData', 'resetState', 'setOrder', 'setProduct', 'fetchOrdersAll', 'fetchProductsAll']),
        updateOrder(value) {
            this.setOrder(value)
        },
        updateProduct(value) {
            this.setProduct(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'order_details.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
